@{
  Layout = "_Layout";
}

@model Notebook.Models.Note

<h2>Add a category</h2>

<h4>Add a category to this note: @Html.DisplayFor(model => model.NoteTitle)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.NoteId)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>