@{
  Layout = "_Layout";
}

@model Notebook.Models.Note

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select cateogry")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new note" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all notes", "Index")</p>