@{
  Layout = "_Layout";
}

@model Notebook.Models.Note

<h2>Note Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This note does not belong to any categories</p>
}
else
{
  <h4>Categories the note belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Category.Name</li>
    @using (Html.BeginForm("DeleteCategory", "Notes"))
    {
      @Html.Hidden("joinId", join.CategoryNoteId)
      <input type="submit" value="Delete" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a category", "AddCategory", new { id = Model.NoteId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Note", "Edit", new { id = Model.NoteId })</p>
<p>@Html.ActionLink("Delete Note", "Delete", new { id = Model.NoteId })</p>